<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
        <div>
            [[ message ]]
            <div v-for="(todo, id) in todoList" :key="id">
                <span>[[todo.id]]) [[todo.title]]</span>
            </div>
        </div>
    </div>

<script>
    new Vue({
        delimiters: ["[[", "]]"],
        el: '#app' ,
        data: {
            message: 'Django 에서 전송한 데이타를 Vue.js 로 화면에 표시합니다.',
            todoList: []
        },
        created: function() {
            this.fetch_all_todo();
        },
        methods: {
            fetch_all_todo: function () {
                var vm = this;
                axios.get('/inven/inven_user/')
                    .then(function (res) {
                        vm.todoList = res.data;
                    })
                    .catch(function (err) {
                        console.log("GET ERR", err)
                    })
            }
        }
    })
</script>
</body>
</html>